
<a href="http://www.cosmostat.org/" target="_blank"><img align="left" width="300" src="http://www.cosmostat.org/wp-content/uploads/2017/07/CosmoStat-Logo_WhiteBK-e1499155861666.png" alt="CosmoStat Logo"></a>
<br>
<br>
<br>
<br>

# Pandas Intro

---

> Author: <a href="http://www.cosmostat.org/people/santiago-casas" target="_blank" style="text-decoration:none; color: #F08080">Santiago Casas</a>  (based on the Python Data Science Handbook)
> Email: <a href="mailto:santiago.casas@cea.fr" style="text-decoration:none; color: #F08080">santiago.casas@cea.fr</a>  
> Year: 2019  
> Version: 1.0


<a href="https://pandas.pydata.org/" target="_blank"><img align="left" width="500" src="https://files.realpython.com/media/Python-Pandas-10-Tricks--Features-You-May-Not-Know-Watermark.e58bb5ce9835.jpg" alt="CosmoStat Logo"></a>

---
<br>

## Let's start by importing the necessary libraries

In [1]:
import numpy as np

In [2]:
import pandas as pd

## Contents

1. [Pandas Intro](#Pandas-Intro)
1. [Numpy with structured arrays](#Numpy-with-structured-arrays)
1. [Enter Pandas](#Enter-Pandas)
    1. [Pandas Series](#Pandas-Series)
    1. [Series as specialized dictionaries](#Series-as-specialized-dictionaries)
    1. [Data Frames as generalized numpy arrays](#Data-Frames-as-generalized-numpy-arrays)
    1. [Manipulating Data Frames](#Manipulating-Data-Frames)
    1. [Indexing with loc and iloc](#Indexing-with-loc-and-iloc)
    1. [Operations between DFs and Series](#Operations-between-DFs-and-Series)
    1. [Importing CSV files](#Importing-CSV-files)
    1. [Exercises](#Exercises)

# Numpy with structured arrays

Numpy is quite powerful because it can host structured data into the array, using a dictionary structure.

Imagine we have this data about people and their age and weight.

In [3]:
name = ['Alice', 'Bob', 'Cathy', 'Doug']
age = [25, 45, 37, 19]
weight = [55.0, 85.5, 68.0, 61.5]

We can create a structured array using a compound data type specification

In [4]:
# Use a compound data type for structured arrays
data = np.zeros(4, dtype={'names':('name', 'age', 'weight'),
                          'formats':('U10', 'int32', 'float32')})
print(data.dtype)

[('name', '<U10'), ('age', '<i4'), ('weight', '<f4')]

We have a data type that contains unicode strings, ints and floats.

We can now fill this structure data array using `keys` as we did for dictionaries.

In [5]:
data['name'] = name
data['age'] = age
data['weight'] = weight
print(data)

[('Alice', 25, 55. ) ('Bob', 45, 85.5) ('Cathy', 37, 68. )
 ('Doug', 19, 61.5)]

This allows us to access the array with indices

In [6]:
# Get first row of data
data[0]

('Alice', 25, 55.)

In [7]:
#Get name of the last row of data
data[-1]['name']

'Doug'

## Masking with structured arrays

Using the powerful masking we saw before, we can ask questions such as: What is the name of all the persons below an age of 30?

In [8]:
# Get names where age is under 30
data[data['age'] < 30]['name']

array(['Alice', 'Doug'], dtype='<U10')

Despite the power of numpy, once we start dealing with more complicated structures, we need to resort to Pandas. A python package specialized for databases, structured data and statistical analysis.

# Enter Pandas

## Pandas Series

A Pandas `Series` is a one-dimensional array of indexed data. It is the most basic structure. It can be created from a list or array as follows:

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Notice how we now get an index column, next to the array values. This index column is by default just a numbering of the entries.

The values are simply a numpy array:

In [10]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

While the index is just an array-type object, special to `Pandas`

In [11]:
data.index

RangeIndex(start=0, stop=4, step=1)

Data can be accessed like in a numpy array

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [13]:
data[1]

0.5

The Pandas Series has an explicitly defined index associated with the values.

This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type. For example, if we wish, we can use strings as an index:

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
# Now we can access the data through an index
data['b']

0.5

## Series as specialized dictionaries

Instead of specifying the data and the indices seprately, we can inmediatly create a series from a dictionary.

In [146]:
population_dict = {'California': 38332521.,
                   'Texas': 26448193.,
                   'New York': 19651127.,
                   'Florida': 19552860.,
                   'Illinois': 12882135.}
population = pd.Series(population_dict)
population

California    38332521.0
Texas         26448193.0
New York      19651127.0
Florida       19552860.0
Illinois      12882135.0
dtype: float64

So we can simply ask, What is the population of California?

In [147]:
population['California']

38332521.0

And we can even perform slicing on the `'string'` indices:

In [148]:
population['California':'New York']

California    38332521.0
Texas         26448193.0
New York      19651127.0
dtype: float64

Notice that the indices can be non-contiguous numbers in any order and the values can be strings

In [149]:
series = pd.Series({2:'a', 1:'b', 3:'c', 6:'d'})

In [150]:
series[2]

'a'

Which can lead to *counter-intuitive* slicing such as

In [151]:
series[1:6].values

array(['b', 'c', 'd'], dtype=object)

## Data Frames as generalized numpy arrays

From several dictionaries one can also construct a `DataFrame` object, basically what we scientists call tables, with a row of headers and a column of indices.

In [152]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}

In [153]:
# Create a Series object
area = pd.Series(area_dict)

In [154]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now use population and area as two different columns in a `"database"`, which corresponds to a DataFrame.

In [225]:
states = pd.DataFrame({'population': population,
                       'area': area})

In [226]:
states

            population    area
California  38332521.0  423967
Texas       26448193.0  695662
New York    19651127.0  141297
Florida     19552860.0  170312
Illinois    12882135.0  149995

> **<font color='red'>NOTE:</font>** Notice the nice printing of a DataFrame in the form of a table !

DataFrame also has an index attribute

In [31]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

But now also the columns, have a generalized index

In [32]:
states.columns

Index(['population', 'area'], dtype='object')

A `DataFrame` behaves like a dictionary in which the `keys` are the columns.

In [44]:
# Notice is not the same behavior as for pd.Series, where square brackets access the index.
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [45]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

To access the rows (indices), one uses `loc`. We will see this later.

In [46]:
states.loc['California']

population    38332521
area            423967
Name: California, dtype: int64

And as opposed to a structured `numpy` array it does not return the rows when indexed with numbers

In [47]:
# This will raise an error, uncomment to see it
#states[0]

A `DataFrame` can be created from a list of dictionaries and `Pandas` will merge the indices accordingly.

In [48]:
list_of_dicts = [{'a': 1, 'b': 2}, {'b': 3, 'a': 4}]

In [49]:
pd.DataFrame(list_of_dicts)

   a  b
0  1  2
1  4  3

If some indices are not present in one or more of the dicts, `Pandas` will fill the columns with `naN`s.

In [50]:
list_of_dicts = [{'a': 1, 'b': 2, 'c':3}, {'a': 3, 'd': 4, 'b':6}]
pd.DataFrame(list_of_dicts)

   a  b    c    d
0  1  2  3.0  NaN
1  3  6  NaN  4.0

A useful tool for scientists working with numerical data, is to construct a `Pandas` `DataFrame` out of a numpy array, in which we label the rows and columns with strings.

In [51]:
xy_data=pd.DataFrame(np.random.rand(3, 2),
             columns=['X', 'Y'],
             index=['a', 'b', 'c'])
xy_data

          X         Y
a  0.892278  0.504894
b  0.965780  0.446255
c  0.373056  0.874666

In the same way that dictionaries can be "filled-up" by providing a new "key-value" pair, the same applies for `DataFrames`:

In [53]:
xy_data['Z'] = pd.Series([1.,1.,1.], index=xy_data.index)  # We pass the same index of the original DataFrame
xy_data

          X         Y    Z
a  0.892278  0.504894  1.0
b  0.965780  0.446255  1.0
c  0.373056  0.874666  1.0

> **Puzzle 1:** Do you think data frames can also be transposed like numpy arrays? 
What is the output of `(xy_data.T).columns[2]` ?

  * Option a): `c`
  * Option b): `X`
  * Option c): `0.303641`

In [55]:
#Answer Puzzle 1:
#Uncomment to see the result
#(xy_data.T).columns[2]

## Manipulating Data Frames

A very useful tool for scientists is to be able to compute derived quantities from given data.
In our `states` DataFrame:

In [121]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

We can create quickly a new `density` column by operating on the available data columns

In [157]:
states['density'] = states['population']/states['area']

In [158]:
states

            population    area     density
California  38332521.0  423967   90.413926
Texas       26448193.0  695662   38.018740
New York    19651127.0  141297  139.076746
Florida     19552860.0  170312  114.806121
Illinois    12882135.0  149995   85.883763

In [59]:
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [60]:
states.density

California     90.413926
Texas          38.018740
New York      139.076746
Florida       114.806121
Illinois       85.883763
Name: density, dtype: float64

*Masking* also works for `DataFrames`

In [61]:
# Which states have a density larger than 100?
states[states.density > 100]

          population    area     density
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121

As you can easily see, this properties are quite powerful when one has to analyze large datasets with thousands of columns and rows.

## Indexing with loc and iloc

In [62]:
data = pd.Series(['a', 'b', 'c', 'd'], index=[1, 2, 5, 6])

Notice that when the indices are integers, some confusions might appear.

In [63]:
# explicit index when indexing
data[2]

'b'

In [64]:
# This will raise an error: (uncomment to see it and comment back)
#data[3]

> **Puzzle 2:** What do you expect from the following slice: `data[2:4]` ? Which values will be returned?

In [65]:
#Answer Puzzle 6:
#Uncomment to see the answer
#data[2:4]

The maybe surprising result, is because `Pandas` uses the explicit indices in `index` when indexing, while the implicit (standard numpy) indices when slicing.

Due to this confusion, it is better to use the attributes `loc`, `iloc`.

### loc

First, the `loc` attribute allows indexing and slicing that always references the ***explicit*** index:

In [66]:
data.loc[1]

'a'

In [67]:
data.loc[1:3]

1    a
2    b
dtype: object

In [69]:
states.loc['California':'Texas']

            population    area    density
California    38332521  423967  90.413926
Texas         26448193  695662  38.018740

### iloc

The `iloc` attribute allows indexing and slicing that always references the implicit Python-style index:

In [70]:
data.iloc[1]

'b'

In [71]:
data.iloc[1:3]

2    b
5    c
dtype: object

> **<font color='red'>NOTE:</font>** Notice the difference with `loc` above !

In [72]:
states.iloc[0:2]

            population    area    density
California    38332521  423967  90.413926
Texas         26448193  695662  38.018740

One guiding principle of Python code is that "explicit is better than implicit." The explicit nature of `loc` and `iloc` make them very useful in maintaining clean and readable code; especially in the case of integer indexes, I recommend using these both to make code easier to read and understand, and to prevent subtle bugs due to the mixed indexing/slicing convention. (from the PDSH)

### Subtleties of indexing

For `DataFrames`, the situation is a bit more complicated. Passing a single index to the values, as we saw above, returns a row:

In [74]:
states.values[0]

array([3.83325210e+07, 4.23967000e+05, 9.04139261e+01])

Passing a column name as a key, returns a column:

In [75]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

But slicing is always performed on the rows:

In [78]:
states['California':'Texas']

            population    area    density
California    38332521  423967  90.413926
Texas         26448193  695662  38.018740

In [79]:
#This will raise an error, uncomment to see it.
#states['California']

Therefore, it is better to always use loc, to have a cleaner indexing.

In [82]:
states.iloc[:3, :2]

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

Equivalently:

In [83]:
states.loc[:'New York',:'area']

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

# Operations between DFs and Series

In the same way as boradcasting for `numpy` where we could have operations between arrays of different dimensions, here we can operate between `DataFrames` and `Series`.

This is quite useful again for treatment of numerical and statistical data.

Create a `DataFrame` of random ints of size (3,4), with given column names.

In [84]:
df = pd.DataFrame(np.random.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  3  4  3  2
1  5  6  5  9
2  9  5  9  2

Apply a complicated function on the whole `DataFrame`

In [85]:
np.sin(df * np.pi / 4)

          A             B         C         D
0  0.707107  1.224647e-16  0.707107  1.000000
1 -0.707107 -1.000000e+00 -0.707107  0.707107
2  0.707107 -7.071068e-01  0.707107  1.000000

Internally, this has been done using `uFuncs` and `broadcasting`.

For numpy arrays, the operation works `row-wise` (notice the first row always being zero):

In [86]:
A = np.random.randint(10, size=(3, 4))
A - A[0]

array([[ 0,  0,  0,  0],
       [-2,  2, -2, -2],
       [-5,  3, -2,  0]])

Create a `DataFrame` from `A`:

In [93]:
df = pd.DataFrame(A, columns=list('ABCD'))  #notice the `list` trick.
df

   A  B  C  D
0  9  6  3  4
1  7  8  1  2
2  4  9  1  4

Subtract the `0` column:

In [94]:
df - df.iloc[0]

   A  B  C  D
0  0  0  0  0
1 -2  2 -2 -2
2 -5  3 -2  0

If you wish to operate column-wise, use `loc` and the corresponding `uFunc` along the wanted axis.

In [98]:
df.subtract(df['A'], axis=0)

   A  B  C  D
0  0 -3 -6 -5
1  0  1 -6 -5
2  0  5 -3  0

Pandas has lots more of functionality that we can't cover in this session. But a look at the Python Data Science Handbook can reveal many more methods, attributes and tricks.

# Importing CSV files

A useful property of Pandas, is that it allows us to work with spreadsheets in a natural way.

In [99]:
#Import CSV data of average monthly Temperatures in Turrialba, Costa Rica from 1958 until 2016

In [100]:
cr_temp = pd.read_csv('./materials/CR_Temp.csv')

In [102]:
# Look at the first 5 rows with head()
cr_temp.head()

,N,YEAR,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SET,OCT,NOV,DIC,AVERAGE
0,1,1958,20.5,21.5,23.2,23.3,24.4,24.2,23.4,23.3,23.6,23.6,22.7,21.6,22.9
1,2,1959,20.8,21.1,22.0,22.4,23.0,23.0,22.5,22.5,23.0,22.7,22.0,21.2,22.2
2,3,1960,21.0,21.2,21.9,22.8,23.8,23.5,22.9,23.2,23.0,23.5,22.2,21.9,22.6
3,4,1961,21.1,21.6,22.1,22.5,22.5,22.4,22.7,23.1,22.7,22.8,22.4,22.7,22.4
4,5,1962,20.8,20.7,21.9,22.0,23.0,23.3,22.8,22.8,23.2,23.0,21.9,20.9,22.2

If we want to avoid having an index column which is just an integer count of the rows, we can specify it at import time.

In [103]:
cr_temp = pd.read_csv('./materials/CR_Temp.csv', index_col=1)
cr_temp.head()

,N,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SET,OCT,NOV,DIC,AVERAGE
YEAR,,,,,,,,,,,,,,
1958,1,20.5,21.5,23.2,23.3,24.4,24.2,23.4,23.3,23.6,23.6,22.7,21.6,22.9
1959,2,20.8,21.1,22.0,22.4,23.0,23.0,22.5,22.5,23.0,22.7,22.0,21.2,22.2
1960,3,21.0,21.2,21.9,22.8,23.8,23.5,22.9,23.2,23.0,23.5,22.2,21.9,22.6
1961,4,21.1,21.6,22.1,22.5,22.5,22.4,22.7,23.1,22.7,22.8,22.4,22.7,22.4
1962,5,20.8,20.7,21.9,22.0,23.0,23.3,22.8,22.8,23.2,23.0,21.9,20.9,22.2

In [104]:
#Get the columns
cr_temp.columns

Index(['N', 'ENE', 'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SET',
       'OCT', 'NOV', 'DIC', 'AVERAGE'],
      dtype='object')

In [105]:
#Get the index
cr_temp.index

Int64Index([1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968,
            1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
            1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
            1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
            2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
            2013, 2014, 2015, 2016],
           dtype='int64', name='YEAR')

In [106]:
#Get the temperature of the 'ENE' month (January) in 1965
cr_temp.ENE[1965]

20.1

# Exercises

## Multi-Index guided exercise

1. Imagine the data for the states is from year 2010. Add a column to the `states` dataframe, 
   that specifies the year of the data.
2. Copy the dataframe and imagine that by the year 2020, the population increased by 10% in all states, except Florida, where it decreased 5%. Name the second dataframe `states2020`.
3. Don't forget to update the density.
3. Use the `df.reset_index()` function to get numeric indices for the df's.
4. Use the `append` function and the `ignore_index=True` option to append one data frame to the other. Name the new dataframe: `yearly_states`.
5. Use `rename(columns={'index':'state'})` to rename a column of the index.
5. Use `set_index(['state', 'year'], inplace=True)` to obtain a df, with multiindex.
6. Use `sort_index(inplace=True)` to sort the multiindex.
6. Using `groupby('state').mean()` obtain the mean values for each state.
7. Do the same, to obtain the mean values for each year.
8. Finally, using `idx=pd.IndexSlice` and `loc[idx[start:end:step],idx[start:end:step]]` obtain the initial `states` dataframe, from the `yearly_states` dataframe and compare.

## Exercise 2:
Compute the yearly average and check if it matches what is given in the last column of the csv file. You can drop the `N` column with pd.drop(columns=...)

## Exercise 3: 
Averaging over all the years, which is the hottest month in Turrialba, CR? *Hints:* np.mean, np.max, `loc` and slicing.

## Exercise 4:
Using the built-in plotting routine of Pandas, can you notice any effect of climate change over the years? *Hint:* plot is a built-in method of a Pandas `DataFrame`. You can plot any column or any row using the masking and slicing seen above.